body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #222;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style: square;
}



.section {
  padding: 80px 60px;
}

.section h2 {
  margin-bottom: 25px;
  color: #38bdf8;
}

.section p {
  max-width: 900px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.alt {
  background: #020617;
}

.card {
  background: #0f172a;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card h3 {
  color: #38bdf8;
}

.card h4 {
  font-weight: 400;
  margin-top: 5px;
}

.card span {
  font-size: 0.9rem;
  opacity: 0.7;
}

.card ul {
  margin-top: 15px;
  padding-left: 20px;
}

.card li {
  margin-bottom: 8px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

